<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="container">
            <a class="navbar-brand" href="/admin">Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/admin/posty">Newsy</a>
                    <a class="nav-item nav-link" href="/admin/mecze">Mecze</a>
                    <a class="nav-item nav-link" href="/wyniki">Wyniki</a>
                    <a class="nav-item nav-link" href="/ranking">Ranking</a>
                    <a class="nav-item nav-link" href="/admin/regulamin">Regulamin</a>
                    <a class="nav-item nav-link" href="/wyloguj">Wyloguj</a>
                </div>
            </div>
        </div>
    </nav>    
</header>