<header class="">
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="container">
            <a class="navbar-brand" href="/">Super Typer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Aktualności</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/typowanie">TYPUJ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wyniki">Wyniki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ranking">Ranking</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/regulamin">Regulamin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profil">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wyloguj">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>