<main>
    <section>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Login gracza</th>
                        <th scope="col">Punkty</th>
                    </tr>
                </thead>
                <tbody>
                    {{# each players}}
                    <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td><a href="gracz/{{this.id}}">{{this.login}}</a></td>
                        <td>{{this.punkty}}</td>
                    </tr>
                    {{/ each}}
                </tbody>
            </table>
        </div>
    </section>
</main>